<div class="wrapper container">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
      <div class="admin-sidebar-header-parent">
          <h4>e-Pharmacy</h4>
      </div>

      <ul class="list-unstyled components">
          <p>Pharmacist Dashboard</p>
          <li>
              <a routerLink="dashboard" >Dashboard</a>
          </li>
          <li>
              <a routerLink="order">Orders</a>
          </li>
          <li>
              <a routerLink="inventory">Inventory</a>
          </li>
          <li>
              <a routerLink="user">Users</a>
          </li>
      </ul>
  </nav>

  <!-- Page Content Holder -->

</div>
