<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>e-Pharmacy</h3>
      </div>

      <ul class="list-unstyled components">
          <p>Pharmacist Dashboard</p>
          <li class="active">
              <a routerLink="dashboard" >Dashboard</a>
          </li>
          <li>
              <a routerLink="order">Orders</a>
          </li>
          <li>
              <a routerLink="inventory">Inventory</a>
          </li>
          <li>
              <a routerLink="user">Users</a>
          </li>
      </ul>
  </nav>

  <!-- Page Content Holder -->

</div>
