<footer class="section footer bg-light">
  <div class="container p-4">
    <div class="row">
      <div class="col-md-5 col-xl-6">
        <div class="pr-xl-4"><a class="footer-brand" routerLink=""><img class="logo mb-3" src="../../assets/images/logo.png"
              alt=""></a>
          <!-- alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a> -->
          <p>{{ pitch }}</p>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Need Help?</h5>
        <dl class="contact-list">
          <dt><i class="fa fa-location-arrow" aria-hidden="true"></i> Find us at:</dt>
          <dd>{{ address }}</dd>
        </dl>
        <dl class="contact-list">
          <dt><i class="fa fa-envelope" aria-hidden="true"></i> Write to us:</dt>
          <dd><a href="mailto:{{ email }}">{{ email }}</a></dd>
        </dl>
        <dl class="contact-list">
          <dt><i class="fa fa-phone" aria-hidden="true"></i> Call us:</dt>
          <dd><a href="tel:{{ tel }}">{{ tel }}</a>
          </dd>
        </dl>
      </div>
      <div class="col-md-3 col-xl-2">
        <h5>Useful Links</h5>
        <ul class="nav-list">
          <li><a href="#">About</a></li>
          <li><a href="#">Delivery Policy</a></li>
          <li><a href="#">Health News</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3 bg-color1">© 2018 Copyright ePharma
  </div>
</footer>