.mdp
{
    margin-top: 2%;
    margin-bottom: 2%
}
h4{
    text-align: center;

}
.image{
    background-image: url("../../assets/images/signin_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-size-edit{
    width: 45%;
    margin-right: 2.5%;
}

.btn-size-update{
    width: 45%;
    margin-left: 2.5%;
}