

.mdp
{
    margin-top: 2%;
    margin-bottom: 2%
}
h4{
    text-align: center;

}
.customer
{
    text-align: center;
    padding: 1%;
    font-weight: bold;
    font-size: 30px;
}
.image{
    background-image: url("../../assets/images/signin_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-nav-link{
    display: inline-block;
}
a:hover{
    color: #d50059;
}