<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" routerLink=""><img src="{{ logo }}" alt="{{ logoAltText }}" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03"
    aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse" [ngbCollapse]="isCollapsed" id="navbarsExample03">
    <div class="w-100">
      <div class="row w-100 align-content-center no-gutters">
        <form [formGroup]="" class="form-inline col-8 pr-0 d-none d-md-block">
          <input class="form-control product-search" type="text" placeholder="Search for prescription medicine and OTC products">
        </form>
        <span class="or text-center p-auto col-1 d-none d-md-inline"> or </span>
        <a class="btn col-md-3 col-12" routerLink="/upload-prescription"><i class="fas fa-prescription-bottle-alt"> </i> Upload
          Prescription</a>
      </div>

      <div class="pt-3 row no-gutters w-100 justify-content-end align-bottom">
        <ul class="navbar-nav d-none d-md-inline-flex">
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="signin"><i class="fa fa-user" aria-hidden="true"> </i> Sign In</a>
          </li>
          <li class="nav-item ml-auto" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="shoppingcart"><i class="fa fa-shopping-cart" aria-hidden="true"> </i>
              Shopping Cart (<span class="cart-itemcount">{{ cartItemCount }}</span>) </a>
          </li>
        </ul>

        <div class="d-block w-100 d-md-none">
          <a class="btn col-12 block" routerLink="signin"><i class="fa fa-user" aria-hidden="true"> </i> Sign In</a>
          <a class="btn col-12 block mt-3" routerLink="shoppingcart"><i class="fa fa-shopping-cart" aria-hidden="true"> </i>
            Shopping Cart (<span class="cart-itemcount">{{ cartItemCount }}</span>) </a>
        </div>
      </div>
    </div>

  </div>


</nav>
<form [formGroup]="" class="form-inline col-12 py-4 bg-light d-md-none">
  <input class="form-control product-search" type="text" placeholder="Search for prescription medicine and OTC products">
</form>