.cart-title-header{
  margin-top:0.75rem;
}
.right-float-total{
  float: right;
}

.clear-div{
  clear: both;
}

.bottom-margin-div{
  margin-bottom: 0.75rem;
}

.image-product-cart{
  width: auto;
  height: 100px;
}
