<div class="d-flex flex-row-reverse bg-image">
  <div class="container">
    <div class="row">
      <div
        class="col-md-7 col-sm-7"
        style="background-color:white;margin-top: 4.5%;margin-bottom: 4.5%;word-break: break-word;"
      >
        <div class="container">
          <div class="row">
            <h3
              class="card-title text-left font-weight-bold color1"
              style="text-align:center"
            >
              Upload Prescription
            </h3>
          </div>
          <div class="row">
            <p style="color:black">
              Please ensure that the image you are uploading is clear and
              contains all 4 edges of the prescription. If your prescription
              comes through cut off or the text is unreadable we will not be
              able to accept it. If you do not receive a confirmation of receipt
              via email within 1 working day of uploading the prescription
              please call us on 01761 258517 and we can make sure it has made
              it's way to us.
            </p>
          </div>
          <div class="row">
            <p style="color:black">
              <b>Why do I need a Written Prescription?</b>
            </p>
            <p style="color:black">
              If a product is licensed in the Canada, it can only be supplied
              against a doctor Prescription. Any products on the website that
              require a prescription will have the red stop sign next to the
              photo of them, and will indicate that the legal category is
              ‘POM-V’. We only accept prescriptions from doctors with a
              Canada/USA registration, where the owner’s address is within the
              Canada.
            </p>
          </div>
          <div class="row">
            <p style="color:black">
              <b>How long does a Written Prescription last for?</b>
            </p>
            <p style="color:black">
              Unless your doctor specifies a shorter expiry, written
              prescriptions are only valid for 6 months from the date of issue.
              However, we can only supply up to the amount your doctors have
              prescribed. For example, if your prescription is only written for
              30 tablets but is set to expire in 6 months, we can only legally
              dispense 30 tablets within these 6 months. Prescriptions for some
              scheduled drugs, such as Epiphen, are only valid for 28 days.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-5 col-sm-5">
        <div class="container">
          <div class="row">
            <div class="col mx-auto">
              <div class="card my-5">
                <div class="card-body p-md-5">
                  <h3
                    class="card-title text-center font-weight-bold color1 mb-md-4"
                  >
                    Upload Prescription
                  </h3>
                  <form [formGroup]="prescriptionForm" (ngSubmit)="onSubmit()">
                    <div class="form-label-group">
                      <input
                        type="text"
                        id="orderNumber"
                        class="form-control"
                        placeholder="Order Number"
                        formControlName="orderNumber"
                        autofocus
                      />
                      <label for="inputOrderNumber">Order Number</label>
                    </div>

                    <div
                      class="form-label-group"
                      [ngClass]="{
                        'has-error':
                          prescriptionForm.controls.name.errors &&
                          (prescriptionForm.controls.name.touched ||
                            prescriptionForm.controls.name.dirty)
                      }"
                    >
                      <input
                        type="text"
                        id="inputName"
                        class="form-control"
                        placeholder="Name"
                        formControlName="name"
                        required
                        autofocus
                      />
                      <label for="inputName">Name*</label>
                      <span class="invalid-feedback">Name is required</span>
                    </div>

                    <div
                      class="form-label-group"
                      [ngClass]="{
                        'has-error':
                          prescriptionForm.controls.email.errors &&
                          (prescriptionForm.controls.email.touched ||
                            prescriptionForm.controls.email.dirty)
                      }"
                    >
                      <input
                        type="email"
                        id="inputEmail"
                        class="form-control"
                        placeholder="Email address"
                        autocomplete="email"
                        formControlName="email"
                        required
                      />
                      <label for="inputEmail">Email address*</label>
                      <!--
                          <ng-container *ngIf="prescriptionForm.controls.email.errors">
                            <span *ngIf="prescriptionForm.controls.email.errors.pattern" class="invalid-feedback">Must be a valid email
                              address</span>
                            <span *ngIf="prescriptionForm.controls.email.errors.required" class="invalid-feedback">Your E-mail is
                              required</span>
                          </ng-container>
                          -->
                    </div>

                    <div
                      class="form-label-group"
                      [ngClass]="{
                        'has-error':
                          prescriptionForm.controls.phoneNumber.errors &&
                          (prescriptionForm.controls.phoneNumber.touched ||
                            prescriptionForm.controls.phoneNumber.dirty)
                      }"
                    >
                      <input
                        type="text"
                        id="inputPhoneNumber"
                        class="form-control"
                        placeholder="Phone Number"
                        formControlName="phoneNumber"
                        required
                      />
                      <label for="inputPhoneNumber">Phone Number*</label>
                      <span class="invalid-feedback"
                        >Your Phone Number is required</span
                      >
                    </div>
                    <!--
                        <div class="form-label-group">
                          <button mat-stroked-button type="button" (click)="filePicker.click()">Prescription File</button>
                          <input type="file" accept="image/*" #filePicker (change)="handleFileInput($event)">
                        </div>
                        -->
                    <div class="form-label-group">
                      <span class="titleUpload"
                        >Upload Prescription(only .png & .jpg)*:</span
                      >
                    </div>

                    <div class="image-upload">
                      <!-- <img
                        [src]="imageSrc"
                        style="max-width:300px;max-height:300px"
                      /> -->
                      <button type="button" #hover (click)="filePicker.click()">
                        Prescription
                      </button>
                      <input
                        name="imageUrl"
                        type="file"
                        accept="image/*"
                        (change)="onFileChanged($event)"
                        formControlName="image"
                        #filePicker
                      />
                    </div>
                    <div class="form-label-group">
                      <button
                        class="btn btn-register bg-color1 btn-primary btn-block "
                        type="submit"
                      >
                        Submit
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
