<div class="outer-dashboard-div">
<div id="admin-page-content-wrapper">
  <div class="container-fluid custom-margin">
      <h1>Dashboard</h1>

      <div class="row">
        <div class="col-sm-6 text-color-white">
          <div class="card bg-info">
            <div class="card-body">
              <h5 class="card-title">Pending Orders</h5>
              <p class="card-text">Total number of Pending orders are: {{pendingOrderCount}}</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
            <div class="card bg-success text-color-white">
              <div class="card-body">
                <h5 class="card-title">Completed Orders</h5>
                <p class="card-text">Total number of completed orders are: </p>
              </div>
            </div>
          </div>
      </div>



      <table>
          <thead>
            <tr>
              <td>Key</td>
              <td>ID</td>
              <td>Name</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor ="let d of data;">
              <td>{{d.order_id}}</td>
              <td>{{d.order_status}}</td>
            </tr>
          </tbody>
        </table>
  </div>
</div> <!-- /#page-content-wrapper -->
</div>
