.admin-navbar-parent{
  background-color: #3498db;
}

.admin-color{
  color:white;
}

.alphabet-navbar{
  color: #3498db;
  margin-right: 6px;
  background: white;
  padding: 6px;
  border-radius: 100%;
}
