<div class="container p-3">
  <div class="row">
    <div class="col-lg-8">
      <div class="container">
        <div class="row">
          <section class="col p-3 mb-3">
            Shipping  Address
          </section>
        </div>
        <div class="row">
          <section class="col p-3">
            Confirm Items

            <div class="table-responsive row">
              <table class="table table-hover table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let d of pushCartItemArray">
                    <th scope="row"><img src="{{ d.productImage }}" class="ImageStyle"/></th>
                    <td>
                      <p>{{ d.productName }}</p>
                    </td>
                    <td>{{ d.productPrice }}</td>
                    <td>{{ d.productQuantity }}</td>
                    <td>{{ d.productAmount | number: "1.2-2" }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <section class="col mb-3 p-3">
        <h4>
          <b>Order Summary:-</b>
        </h4>

        <span layout="row"
          ><hr flex/>

          <div class="d-flex">
            <div>Items:</div>
            <div class="ml-auto">CDN$ {{ totalAmount | number: "1.2-2"}}</div>
          </div>

          <div class="d-flex">
            <div>Shipping & Handling:</div>
            <div class="ml-auto">CDN$ {{ shippingCharges | number: "1.2-2"}}</div>
          </div>

          <hr flex
        /></span>
        <span layout="row"
          ><hr flex/>
          <div class="d-flex">
            <div>Total before tax:</div>
            <div class="ml-auto">CDN$ {{ totalAmount | number: "1.2-2"}}</div>
          </div>

          <div class="d-flex">
            <div>Estimated GST/HST:</div>
            <div class="ml-auto">CDN$ {{ tax | number: "1.2-2"}}</div>
          </div>

          <hr flex
        /></span>
        <h5 class="right-float-total clear-div">
          <div class="d-flex">
            <div>Order Total:</div>
            <div class="ml-auto">CDN$ {{ finalTotal | number: "1.2-2"}}</div>
          </div>
        </h5>
        <div class="text-center p-3">
          <button
            type="button"
            class="clear-div btn  btn-primary btn-rounded waves-effect waves-light right-float-total bottom-margin-div"
          >
            Place the order
          </button>
        </div>
      </section>
    </div>
  </div>
</div>
