<div class="container-fluid">
  <nav class="mt-4" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item">
        <a routerLink="/catalog/{{ productCategory }}">{{
          productCategory | titlecase
        }}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ productName | titlecase }}
      </li>
    </ol>
  </nav>
  <div class="container">
    <div class="row justify-content-center">
      <div *ngIf="productCategory == 'prescription meds' " class="col-10 alert-warning p-1 text-center"> Requires Prescription</div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 order-md-1 order-2">
        <div class="card mt-4">
          <div class="card-body">
            <img src="{{ productImage }}" class="card-img-top p-3" alt="..." />
          </div>
          <div class="card-body">
            <span class="">
              <form class="form-inline d-flex justify-content-center">
                <div class="form-inline">
                  <label class="mr-1" for="quantity">Qty:</label>
                  <select [(ngModel)]="selectedQuantity" name="quantity">
                    <option
                      class="form-control"
                      *ngFor="let x of [].constructor(30); let i = index"
                      [value]="i + 1"
                      >{{ i + 1 }}</option
                    >
                  </select>
                </div>
                <button type="submit" class="btn form-control ml-3">
                  <i class="fas fa-shopping-cart"></i> Add to Cart
                </button>
              </form>
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 order-md-2 order-1">
        <div class="card mt-4 nooutline">
          <div class="card-body">
            <h3 class="card-title color1">{{ productName | titlecase }}</h3>
            <span class="mb-1">By {{ productCompany | titlecase }}</span>
            <p class="price">C$ {{ productPrice }}</p>
            <p class="card-text">
              Description:
              {{ productDescription }}
            </p>
            <span class="stars"
              ><span *ngFor="let x of [].constructor(starRating)">★ </span
              ><span *ngFor="let x of [].constructor(5 - starRating)"
                >☆
              </span></span
            >
            {{ starRating | number: '1.1' }} stars
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="mt-5" />
<app-slider-multi
  header="Similar Products"
  minRating="2"
  maxRating="10"
  category="{{ productCategory }}"
></app-slider-multi>
